body{
    background-color:pink;
    text-align: center;
    margin-top: 300px;

}
.App {
    font-family: sans-serif;
    text-align: center;
    color: blue;
  }
  
  ul {
    margin: 10px auto;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    margin-left: 20px;
    cursor: pointer;
  }
  .head{
    font-size: 45px;
    color: brown;
    font-style:italic;
    text-align: center;
  }
  input{
    height: 30px;
    border-radius: 20px;

  }

